@import "../../sass/variables";

.hourly-weather {
  position: absolute;
  height: 100%;
  width: 100%;
  flex-basis: 100%;

  display: flex;
  justify-content: space-between;

  &__back-btn {
    height: 100%;
    flex-basis: 5%;
    min-width: 30px;

    border: none;
    outline: none;
    border-radius: 10px;

    background: none;
    cursor: pointer;

    &:hover {
      background-color: lighten($blue, 15%);
    }
  }

  &__forecast {
    height: 100%;
    flex-basis: 10%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__text {
    flex-basis: 100%;
    text-align: center;
  }

  &__text--bold {
    font-weight: 700;
  }
}
