.weather-details {
  flex-basis: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-color: rgb(255, 196, 252);
  // border-bottom: 2px solid black;
  // border-left: 2px solid black;

  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;

  &__desc {
    flex-basis: 50%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 10px;
  }

  &__info {
    flex-basis: 100%;
    text-align: left;
  }

  &__icon {
    flex-basis: 50%;
    &::after {
      content: "Wind direction";
      text-align: center;
      border-radius: 5px;
      top: 10px;
      right: 10px;
      position: absolute;
      border: 2px solid black;
      height: 25px;
      width: 25%;
    }
  }

  &__svg {
    margin: 0 auto;
    display: block;
  }
}
