@import "../../sass/variables";

.weather-details {
  flex-basis: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;

  &__desc {
    flex-basis: 50%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 10px;
  }

  &__info {
    flex-basis: 100%;
    text-align: left;
  }

  &__important {
    font-weight: 700;
  }

  &__icon {
    flex-basis: 50%;
    &::after {
      content: "Wind direction";
      position: absolute;
      top: 10px;
      right: 10px;

      height: 25px;
      width: 25%;

      border: 2px solid darken($blue, 25%);
      border-radius: 5px;
      text-align: center;
      background-color: $blue;
    }
  }

  &__svg {
    width: 35%;
    display: block;
    margin: 0 auto;
  }
}
