.footer {
  height: 5vh;
  max-height: 100px;
  flex-basis: 100%;

  display: flex;
  flex-wrap: wrap;

  color: rgb(199, 199, 199);

  &__link {
    text-decoration: none;
    color: rgb(197, 196, 196);
  }

  &__small-text {
    flex-basis: 100%;
    font-size: 0.7rem;
  }
}
